{{> head }}

{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>HOLA</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum recusandae provident dolores deserunt laborum
            fugit, voluptatum aperiam, corrupti illum facere nobis! Labore doloribus nobis laudantium accusamus adipisci
            quidem, laborum delectus.</p>

    </div>
    <div class="col-4">
        <img src="assets/img/costillas.jpg" class="img-thumbnail">

    </div>

</div>

{{> footer}}